annotated-types==0.8.0
anyio==4.14.2
asgiref==3.12.1
certifi==2026.7.22
colorama==0.4.6
distro==1.9.0
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
h11==0.16.0
httpcore==1.0.9
gunicorn==21.2.0
httpx==0.28.1
idna==3.18
jiter==0.16.0
lxml==6.1.1
openai==2.53.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
python-docx==1.2.0
python-dotenv==1.2.2
sniffio==1.3.1
sqlparse==0.5.5
tenacity==9.1.4
tqdm==4.70.0
typing-inspection==0.4.3
typing_extensions==4.16.0
tzdata==2026.3
pypdf==4.3.1
groq
requests
pytest-django
responses
docx2pdf
whitenoise==6.6.0
